html, body {
    margin: 0;
    padding: 0;
    background: #000;
    text-align: center;
}

canvas {
    background: #000;
    padding: 0;
    display: block;
    margin: 30px auto;
    border-color: #99b4e1 #4a5b89 #4a5b89 #99b4e1;
    border-style: solid;
    border-width: 6px;
}

#cockpit-container {
	width: 100%;
	background: transparent;
	text-align: center;
	display: block;
	height: 400px;
	margin: -436px 0px;
	padding: 0;
	position: absolute;
}

#cockpit {
	z-index: 10;
	position: relative;
	display: block;
	margin: 0 auto;
}

.left-panel, .right-panel {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.middle-panel {
    display: inline-block;
    width: 23%;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

.middle-panel div {
    display: block;
    text-align: center;
    width: 110px;
}